extends layout

block content
  h1 Sign-in with SSO

  form(action='/authenticate' method='POST')
    div
      label(for='sso-provider') Method:
      select#sso-provider(name='sso_provider')
        option(value='passport') Passport SAML
        option(value='workos') WorkOS SSO

    button Sign in
